/*@media screen and (min-width: 440px) {
    #main-image {
      width: 90%;
      margin: 0 auto;
      max-height: 280px;
    }

    #main-image img {
      width: auto;
      height: 100%;
    }
}*/

@media screen and (min-width: 485px) {
  .name p:first-child {
    font-size: 2.5em;
  }

  .name p:nth-child(2) {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 1200px;
    width: 95%;
  }

  #main-image {
    overflow: hidden;
    max-width: 999px;
    width: 95%;
    max-height: 400px;
  }

  #main-image img {
    width: 100%;
    /*transform: translateY(-60px);*/
  }
  /*
  2 * 5 = 10 (2 columns * margin of each column)
  100% - 10% = 90%
  90% / 2 = 45%
  */
  .piece {
    width: 45%;
    max-width: 425px;
  }
}

@media screen and (min-width: 790px) {
  #main-image {
  }
}

@media screen and (min-width: 1100px) {
  /*
  3 * 5 = 15 (3 columns * margin of each column)
  100% - 15% = 85%
  85% / 3 = 28.33333
  */
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
  .piece {
    width: 28.33%;
  }
}