@media screen and (min-width: 700px) {
  /*
  2 * 5 = 10 (2 columns * margin of each column)
  100% - 10% = 90%
  90% / 2 = 45%
  */
  .piece {
    width: 45%;
    max-width: 425px;
  }
}


@media screen and (min-width: 1100px) {
  /*
  3 * 5 = 15 (3 columns * margin of each column)
  100% - 15% = 85%
  85% / 3 = 28.33333
  */
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
  .piece {
    width: 28.33%;
  }
}