body{
	display: flex;
	flex-wrap: wrap;
}

.box {
	min-height: 100px;
	width: 100%;
}


header {
	background-color: blue;
}

.container {
	display: flex;
	max-width: 550px;
	margin: 0 auto;
}

.logo {
	background-color: red;
	min-height: 100px;
	width: 30%;
}

.logo p{
	margin-top: 2.5%;
	margin-left: 10%;
	font-family: cursive;
	font-size: 4em;
}

.name {
	background-color: slategrey;
	min-height: 100px;
	width: 70%;
	text-align: right;
}

.name p:first-child {
	margin-top: .5em;
	font-family: "helvetica";
	font-size: 2.5em;
}

.name p:nth-child(2) {
	margin-top: .5em;
}

.name p {
	margin-right: 5%;
}

#main-image {
	width: 90%;
	margin: 0 auto;
	max-height: 700px;
	max-width: 700px;
}

#main-image img {
	width: 100%;
	height: auto;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}


#featured-work {
	display: flex;
	flex-wrap: wrap;
}

.piece {
	width: 90%;
	margin: 0 auto;
	max-width: 425px;
}


#main-image {
	background-color: green;
}


#featured-work{
	background-color: red;
}

.orange {
	background-color: orange;
}

.darkgreen {
	background-color: darkgreen;
}

.slategrey {
	background-color: slategrey;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}